*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-size: $font-medium
  
body
  background-color: $light-grey
  color: $dark-grey
  font-family: $font-primary

h1
  font-size: $font-large
  // line-height: $size-medium

html
  font-size: 62.5%

*:focus
  outline: transparent
