// Font
$font-primary: 'Inter', Arial, sans-serif

// Font weights
$weight-medium: 500
$weight-bold: 700
  
// Colors
$light-grey: #EDEDED
$grey: #E0E0E0
$dark-grey: #2C2C2C
$blue : #1F8AD1
$light-red: #ffeded
$red: #EB5757

// Font sizes
$font-medium: 1.4rem
$font-large: 2.4rem

// Sizes
$size-tiny: 0.5rem
$size-small: 1rem
$size-normal: 1.5rem 
$size-medium: 2rem 
$size-large: 2.5rem
